<h1> <strong> All Restaurants </strong></h1>
<ul>

    <% @restaurants.each do |restaurant| %>
    <li>

     <%= link_to  restaurant.name , restaurant_path(restaurant)   %>
    <% end  %>

    </li>

</ul>
 <%= link_to 'Create restaurant' , new_restaurant_path  %>





